<div class = "container" style="text-align: center;">
  <%= erb :'calendar/_form' %>
  <% s = Schedule.new %>
  <table border = "1" style="width:100%">
    <tr>
      <th>Time</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>
    <tr>
      <td>9am - 10am</td>
      <td><%= Shift.find_by_day_and_hour(1, 1).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 1).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 1).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 1).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 1).mentor.full_name %></td>
    </tr>
    <tr>
    <tr>
      <td>10am - 11am</td>
      <td><%= Shift.find_by_day_and_hour(1, 2).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 2).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 2).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 2).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 2).mentor.full_name %></td>
    </tr>
    <tr>
    <tr>
      <td>11am - 12pm</td>
      <td><%= Shift.find_by_day_and_hour(1, 3).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 3).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 3).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 3).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 3).mentor.full_name %></td>
    </tr>
    <tr>
      <td>12pm - 1pm</td>
      <td><%= Shift.find_by_day_and_hour(1, 4).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 4).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 4).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 4).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 4).mentor.full_name %></td>
    </tr>
    <tr>
      <td>1pm - 2pm</td>
      <td><%= Shift.find_by_day_and_hour(1, 5).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 5).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 5).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 5).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 5).mentor.full_name %></td>
    </tr>
    <tr>
      <td>2pm - 3pm</td>
      <td><%= Shift.find_by_day_and_hour(1, 6).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 6).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 6).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 6).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 6).mentor.full_name %></td>
    </tr>
    <tr>
      <td>3pm - 4pm</td>
      <td><%= Shift.find_by_day_and_hour(1, 7).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 7).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 7).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 7).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 7).mentor.full_name %></td>
    </tr>
    <tr>
      <td>4pm - 5pm</td>
      <td><%= Shift.find_by_day_and_hour(1, 8).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 8).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 8).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 8).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 8).mentor.full_name %></td>
    </tr>
    <tr>
      <td>5pm - 6pm</td>
      <td><%= Shift.find_by_day_and_hour(1, 9).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 9).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 9).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 9).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 9).mentor.full_name %></td>
    </tr>
    <tr>
      <td>6pm - 7pm</td>
      <td><%= Shift.find_by_day_and_hour(1, 10).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 10).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 10).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 10).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 10).mentor.full_name %></td>
    </tr>
    <tr>
      <td>7pm - 8pm</td>
      <td><%= Shift.find_by_day_and_hour(1, 11).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 11).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 11).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 11).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 11).mentor.full_name %></td>
    </tr>
    <tr>
      <td>8pm - 9pm</td>
      <td><%= Shift.find_by_day_and_hour(1, 12).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(2, 12).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(3, 12).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(4, 12).mentor.full_name %></td>
      <td><%= Shift.find_by_day_and_hour(5, 12).mentor.full_name %></td>
    </tr>

  </table>

  <% s.shift_gap_checker.each do |thing| %>
   <%= thing %>
   <br>
  <% end %>

</div>
