
<div class = "container" style="text-align: center; margin-top: 100px;">

  <form role="form" method="post" action="/calendar" style="display: inline-block;">
    <button type="submit" class="btn btn-default">New schedule</button>
  </form>
  <br>
  <br>
  <table border = "1" style="width:100%">
    <tr>
      <th>Time</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>
    <tr>
      <td>9am - 10am</td>
      <td><%= @schedule.shifts[0].mentor.full_name %></td>
      <td><%= @schedule.shifts[12].mentor.full_name %></td>
      <td><%= @schedule.shifts[24].mentor.full_name %></td>
      <td><%= @schedule.shifts[36].mentor.full_name %></td>
      <td><%= @schedule.shifts[48].mentor.full_name %></td>
    </tr>
    <tr>
    <tr>
      <td>10am - 11am</td>
      <td><%= @schedule.shifts[1].mentor.full_name %></td>
      <td><%= @schedule.shifts[13].mentor.full_name %></td>
      <td><%= @schedule.shifts[25].mentor.full_name %></td>
      <td><%= @schedule.shifts[37].mentor.full_name %></td>
      <td><%= @schedule.shifts[49].mentor.full_name %></td>
    </tr>
    <tr>
    <tr>
      <td>11am - 12pm</td>
      <td><%= @schedule.shifts[2].mentor.full_name %></td>
      <td><%= @schedule.shifts[14].mentor.full_name %></td>
      <td><%= @schedule.shifts[26].mentor.full_name %></td>
      <td><%= @schedule.shifts[38].mentor.full_name %></td>
      <td><%= @schedule.shifts[50].mentor.full_name %></td>
    </tr>
    <tr>
      <td>12pm - 1pm</td>
      <td><%= @schedule.shifts[3].mentor.full_name %></td>
      <td><%= @schedule.shifts[15].mentor.full_name %></td>
      <td><%= @schedule.shifts[27].mentor.full_name %></td>
      <td><%= @schedule.shifts[39].mentor.full_name %></td>
      <td><%= @schedule.shifts[51].mentor.full_name %></td>
    </tr>
    <tr>
      <td>1pm - 2pm</td>
      <td><%= @schedule.shifts[4].mentor.full_name %></td>
      <td><%= @schedule.shifts[16].mentor.full_name %></td>
      <td><%= @schedule.shifts[28].mentor.full_name %></td>
      <td><%= @schedule.shifts[40].mentor.full_name %></td>
      <td><%= @schedule.shifts[52].mentor.full_name %></td>
    </tr>
    <tr>
      <td>2pm - 3pm</td>
      <td><%= @schedule.shifts[5].mentor.full_name %></td>
      <td><%= @schedule.shifts[17].mentor.full_name %></td>
      <td><%= @schedule.shifts[29].mentor.full_name %></td>
      <td><%= @schedule.shifts[41].mentor.full_name %></td>
      <td><%= @schedule.shifts[53].mentor.full_name %></td>
    </tr>
    <tr>
      <td>3pm - 4pm</td>
      <td><%= @schedule.shifts[6].mentor.full_name %></td>
      <td><%= @schedule.shifts[18].mentor.full_name %></td>
      <td><%= @schedule.shifts[30].mentor.full_name %></td>
      <td><%= @schedule.shifts[42].mentor.full_name %></td>
      <td><%= @schedule.shifts[54].mentor.full_name %></td>
    </tr>
    <tr>
      <td>4pm - 5pm</td>
      <td><%= @schedule.shifts[7].mentor.full_name %></td>
      <td><%= @schedule.shifts[19].mentor.full_name %></td>
      <td><%= @schedule.shifts[31].mentor.full_name %></td>
      <td><%= @schedule.shifts[43].mentor.full_name %></td>
      <td><%= @schedule.shifts[55].mentor.full_name %></td>
    </tr>
    <tr>
      <td>5pm - 6pm</td>
      <td><%= @schedule.shifts[8].mentor.full_name %></td>
      <td><%= @schedule.shifts[20].mentor.full_name %></td>
      <td><%= @schedule.shifts[32].mentor.full_name %></td>
      <td><%= @schedule.shifts[44].mentor.full_name %></td>
      <td><%= @schedule.shifts[56].mentor.full_name %></td>
    </tr>
    <tr>
      <td>6pm - 7pm</td>
      <td><%= @schedule.shifts[9].mentor.full_name %></td>
      <td><%= @schedule.shifts[21].mentor.full_name%></td>
      <td><%= @schedule.shifts[33].mentor.full_name %></td>
      <td><%= @schedule.shifts[45].mentor.full_name %></td>
      <td><%= @schedule.shifts[57].mentor.full_name %></td>
    </tr>
    <tr>
      <td>7pm - 8pm</td>
      <td><%= @schedule.shifts[10].mentor.full_name %></td>
      <td><%= @schedule.shifts[22].mentor.full_name %></td>
      <td><%= @schedule.shifts[34].mentor.full_name %></td>
      <td><%= @schedule.shifts[46].mentor.full_name %></td>
      <td><%= @schedule.shifts[58].mentor.full_name %></td>
    </tr>
    <tr>
      <td>8pm - 9pm</td>
      <td><%= @schedule.shifts[11].mentor.full_name %></td>
      <td><%= @schedule.shifts[23].mentor.full_name %></td>
      <td><%= @schedule.shifts[35].mentor.full_name %></td>
      <td><%= @schedule.shifts[47].mentor.full_name %></td>
      <td><%= @schedule.shifts[59].mentor.full_name %></td>
    </tr>
  </table>
  <br>
  Score: <%= @schedule.score_calculator %>
  <br>

  
  <ul>
    <% Mentor.all.each do |mentor| %>
      <% if mentor.id != 6 %>
        Mentor <%= mentor.full_name %> is scheduled for a total of <%= mentor.shifts.count %> hours
        <br>
      <% end %>
    <% end %>
  </ul>
<!--   <form role="form" method="post" action="/optimize" style="display: inline-block; margin-right: 30%">
    <button type="submit" class="btn btn-default" style="margin-right: 30%">Optimize</button>
  </form>
 -->
</div>
