<h2>
  <%= @mentor.full_name   %>
</h2>



<h2>
  <p>Shifts:</p>
  <% @mentor.shifts.each do |shift| %>
    <p>
    <%=  shift.date   %>
    <%=  shift.day %>
    <%=  shift.hour %>
    </p>
  <% end %>
</h2>

<hr/>
<a href="/mentors">Back to All Mentors</a>

<form action="/mentors/<%= @mentor.id%>/shifts">
    <button class="btn" type="submit" value="Go to Google">Add A New Shift</button>

</form>
