<div class="container" style="margin: 70px 30% 20px 35%;">
  <div class="row">
    <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">Add a new Mentor</div>
      <div class="panel-body">
  <form role="form" method="post" action="/mentors">

    <div class="form-group">
      <label class="control-label">Full Name</label>
      <input type="name" name="mentor[full_name]" class="form-control" id="exampleInputPassword1" placeholder="Full Name">
    </div>


    <div class="form-group">
      <label class="control-label">Email</label>
      <input type="email" name="mentor[email]" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>

    <div class="form-group">
      <label class="control-label">Photo</label>
      <input type="file" name="mentor[photo]" class="form-control">
    </div>

    <div class="form-group">
      <label class="control-label">Constraints:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End</label>
      <ul>
        <li>Monday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= erb :'mentors/_start_time' %> <%= erb :'mentors/_end_time' %></li>
        <li>Tuesday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= erb :'mentors/_start_time' %> <%= erb :'mentors/_end_time' %></li>
        <li>Wednesday &nbsp;&nbsp;<%= erb :'mentors/_start_time' %> <%= erb :'mentors/_end_time' %></li>
        <li>Thursday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= erb :'mentors/_start_time' %> <%= erb :'mentors/_end_time' %></li>
        <li>Friday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <%= erb :'mentors/_start_time' %> <%= erb :'mentors/_end_time' %></li>
      </ul>
    </div>

    <button type="submit" class="btn btn-default">Create Mentor</button>
  </form>
</div>