<div class="container" style="margin: 70px 30% 20px 35%;">
  <div class="row">
    <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">Add a new Mentor</div>
      <div class="panel-body">
  <form role="form" method="post" action="/mentors/new">

    <div class="form-group">
      <label class="control-label">Full Name</label>
      <input type="name" name="mentor[full_name]" class="form-control" id="exampleInputPassword1" placeholder="Full Name">
    </div>


    <div class="form-group">
      <label class="control-label">Email</label>
      <input type="email" name="mentor[email]" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>

    <div class="form-group">
      <label class="control-label">Constraints: Start Time End Time</label>
      <ul>
        <li>Monday
          <select name="monday_start_time">
            <%= erb :'mentors/_start_time' %>
          </select>
          <select name="monday_end_time">
            <%= erb :'mentors/_end_time' %>
          </select>
        </li>
        <li>Tuesday
          <select name="tuesday_start_time">
            <%= erb :'mentors/_start_time' %>
          </select>
          <select name="tuesday_end_time">
            <%= erb :'mentors/_end_time' %>
          </select>
        </li>
        <li>Wednesday
          <select name="wednesday_start_time">
            <%= erb :'mentors/_start_time' %>
          </select>
          <select name="wednesday_end_time">
            <%= erb :'mentors/_end_time' %>
          </select>
        </li>
        <li>Thursday
          <select name="thursday_start_time">
            <%= erb :'mentors/_start_time' %>
          </select>
          <select name="thursday_end_time">
            <%= erb :'mentors/_end_time' %>
          </select>
        </li>
        <li>Friday
          <select name="friday_start_time">
            <%= erb :'mentors/_start_time' %>
          </select>
          <select name="friday_end_time">
            <%= erb :'mentors/_end_time' %>
          </select>
        </li>
      </ul>
    </div>
    <button type="submit" class="btn btn-default">Create Mentor</button>
  </form>
</div>