<% DAYS_HASH = {1 => "Monday",
             2 => "Tuesday",
             3 => "Wednesday",
             4 => "Thursday",
             5 => "Friday",
             6 => "Saturday",
             7 => "Sunday"}

HOURS_HASH = { 1 => "9 am",
               2 => "10 am",
               3 => "11 am",
               4 => "12 pm",
               5 => "1 pm",
               6 => "2 pm",
               7 => "3 pm",
               8 => "4 pm",
               9 => "5 pm",
               10 => "6 pm",
               11 => "7 pm",
               12 => "8 pm",
               13 => "9 pm"} %>
<div class="container">
   <div class="row row-centered">
<div class="col-sm-6 center-block" >
  <img src="/images/<%=@mentor.id%>_profile_photo.jpg">
  <h2 id="my_id">
    <%= @mentor.full_name %>
  </h2>
</div>

<div class="col-sm-6 center-block"  >
<div id="list3" >

<p class="title_class">Shifts this week:</p>
<% @mentor_days = (@mentor.shifts.map &:day).uniq.sort %>

<ul>
<% @mentor_days.each do |day| %>
<% @mentor_hours = (@mentor.shifts.where(day: day).map &:hour).sort %>
  <li><%= DAYS_HASH[day] %>: <%= HOURS_HASH[@mentor_hours.first] %> to <%= HOURS_HASH[@mentor_hours.last+1] %></li>
<% end %>
</ul>

<p class="title_class">Unavailable:</p>
<% @mentor_days = (@mentor.constraints.map &:day).uniq.sort %>
<ul>
<% @mentor_days.each do |day| %>
<% @mentor_hours = (@mentor.constraints.where(day: day).map &:hour).sort %>
  <li><%= DAYS_HASH[day] %>: <%= HOURS_HASH[@mentor_hours.first] %> to <%= HOURS_HASH[@mentor_hours.last+1] %></li>
<% end %>
</ul>

</div>
</div>
</div>
</div>
<button class="btn btn-default">
<a href="/mentors">Back to All Mentors</a>
</button>
